<:Title>
  Subdrafts
  
<:Body>
  <div class="row">
    <div class="col-md-4">
      <h1>Subdrafts</h1>

      <form e-submit="add_subdraft" role="form">
        <div class="form-group">
          <label>New subdraft</label>
          <input class="form-control" type="text" value="{{ _new_subdraft }}" />
        </div>
      </form>
    </div>

    <table class="subdraft-table">
      {{ _subdrafts.each do |subdraft| }}
        <tr e-click="params._index = index" class="{{ if params._index.or(0).to_i == index }}selected {{ end }}">
          <td class="{{ if subdraft._completed }}complete{{ end }}">{{ subdraft._name }}</td>
          <td><button e-click="remove_subdraft(subdraft)">X</button></td>
        </tr>
      {{ end }}
    </table>
    
    <div class="col-md-8">
      {{ if current_subdraft }}
      <h2>Text</h2>
      
      <textarea>{{ current_subdraft._text }}</textarea>
      
      <form e-submit="add_tag(current_subdraft)" role="form">
        <div class="form-group">
          <label>New tag</label>
          <input class="form-control" type="text" value="{{ _new_subdraft_tag }}" />
        </div>
      </form>
      
      <h2>Tags</h2>

      <table class="subdraft-table">
        {{ current_subdraft._tags.each do |tag| }}
          <tr>
            <td>{{ tag._name }}</td>
            <td>{{ current_subdraft._name }}</td>
            <td><button e-click="remove_tag(tag)">X</button></td>
          </tr>
        {{ end }}
      </table>
      
      {{ end }}
    </div>
    
  </div>